/* main */
.main {
    margin: 0 !important;
    padding: 0 !important;

    top: 0;
    width: 70%;
    height: 100%;
    float: left;
    
}

/* conteudo central */

main .bread-crambs {

    height: 37px;
    
}

main .bread-crambs span {

    height: 30px;
    margin-top: 5px;
    font-size: 15px !important;
}

.breadcrumb {
    
    background-color: white  !important;
    float: right;
    padding: 5px !important;
   
}

.breadcrumb-item{
    margin: 0;
    font-size: 15px !important;
}

.breadcrumb-item a{
    margin: 0;
    font-size: 15px !important;
}

.campo-perfil {

    height: 100%;
    margin-left: -20px !important;
    /* background-color: #f3f3f3; */
    /* background-color: #000000ce; */
    background-color: #4080FF;
}


main .campo-perfil li {
    list-style: none;
    
}

main .user-photo {
    display: block;
    margin: 10px ;
    padding: 5px 3px;
    float: right;
    height: 300px;
    color: #ffffff;
}

main .user-photo img {
    display: block;
    border-radius: 50%;
    width: 100%; 
}


.space-user {

    height: 100%;
    background-color: #f3f3f3;
    margin-left: 245px !important;
    padding: 0 !important;
}

.sub-menu {

    height: 40px;
    width: 100%;
    padding: 0;
    margin: 0px auto;
    padding-top: 10px;
    background-color: #4080FF;
    position: relative;

}
.sub-menu ul{
    list-style: none;
}
.sub-menu ul li{
    height: 75px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    float: left;
    cursor: pointer;
    position: relative;
}
.sub-menu label{
    width: 150px;
    padding: 0px;
    background-color: #4080FF;
    display: block;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
.item-menu:checked ~ label{
    background-color: #e54e43;
    height: 40px;
    padding-top: 10px;

}

.item-menu {
    margin-left: 30px;
    color: #ffffff;
    height: 40px !important;
    width: 100px !important;
    display: none;
    
}
.item-menu:hover {

    background-color: #e54e43;
    
}

.content{
    border-top: 5px solid #e54e43;
    background-color: #fff;
    display: none;
    position: absolute;
    height: 320 px;
    width: 600px;
    left: 0;
}

